body
{
background-color: #E6E6FA;
}

h1
{
color:#660099;
font-family: "Sofia", sans-serif;
font-size:35px;
text-align: center;
border-style: double;
border-color:#008B8B;
background-color:#FFCCCC;
border-radius:10px;
width:300px;
padding: 5px;

}

h3
{
color:#660099;
font-family: 'Grand Hotel', cursive;
font-size:30px;
text-align: center;
border-style: dashed;
border-color:#8B0000;
background-color:lightgray;
border-radius:100px;
width:500px;
padding: 10px;

}

h4
{
color:#008080;
font-family: 'Courier New',monospace;
font-size: 50px;
text-align: center;
}

h5
{
color:#660099;
font-family: "Sofia", sans-serif;
font-size:20px;
text-align: center;
border-style: dotted;
border-color:#008B8B;
background-color:#FFCCCC;
border-radius:500px;
width:450px;
padding: 10px;
}

p
{
color: white; 
font-family: 'Sue Ellen Francisco', cursive;
font-size:'4';	
text-align: center;
background-color:#BC8F8F;
padding: 10px;              
}